
<div class="container">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <fieldset >
          <legend>Disabled fieldset example</legend>
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" name="name" class="form-control" [(ngModel)]="userSettings.name"
            required #nameField="ngModel"
            (blur)="onBluer(form)"
            [class.field-error]="form.submitted && nameField.invalid"/>
            <!--
                usando compenete de validação
            -->
         
            <div [hidden]="!form.submitted || nameField.valid" class="alert alert-danger">
                campo nome
            </div>
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="emailOffers" name="emailOffers" [(ngModel)]="userSettings.emailOffers"/>
              <label class="form-check-label" for="emailOffers">
                Email Special Offers
              </label>
            </div>
          </div>
          <p>User Interface Style</p>
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="radio" id="lightInterface" name="interfaceStyle" value="light" checked [(ngModel)]="userSettings.interfaceStyle">
              <label class="form-check-label" for="lightInterface">
                Light
              </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="mediumInterface" name="interfaceStyle" value="medium" [(ngModel)]="userSettings.interfaceStyle">
                <label class="form-check-label" for="mediumInterface">
                  Medium
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="darkInterface" name="interfaceStyle" value="dark" [(ngModel)]="userSettings.interfaceStyle">
                <label class="form-check-label" for="darkInterface">
                  Dark
                </label>
              </div>
          </div>
          <div class="mb-3">
            <label for="subscriptionType">Subscription Type</label>
            <select class="form-select" name="subscriptionType" id="subscriptionType" [(ngModel)]="userSettings.subscriptionType">
                <option *ngFor="let type of subscriptionTypes | async"> {{type}}</option>

            </select>
          </div>
          <div class="mb-3">
            <label for="notes" class="form-label">Notes</label>
            <textarea id="notes" name="notes" class="form-control" row="3" [(ngModel)]="userSettings.notes"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
        </fieldset>
      </form>

</div>

{{form.submitted| json}}
{{form.invalid| json}}
{{userSettings.name}}